{port_specs, [{"priv/ebloom_nifs.so", ["c_src/*.cpp"]}]}.
{port_env, [
             %% Make sure to link -lstdc++
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "LDFLAGS", "$LDFLAGS -lstdc++"}
            ]}.

{erl_opts, [debug_info, warnings_as_errors]}.
{cover_enabled, true}.

{plugins, [pc]}.

{profiles, [
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.
