%% port compiler plugin for rebar3
{plugins, [pc]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.


{port_specs, [{"priv/ebloom_nifs.so", ["c_src/*.cpp"]}]}.
{port_env, [
            %% Make sure to link -lstdc++
            {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
             "LDFLAGS", "$LDFLAGS -lstdc++"}
           ]}.

{erl_opts, [debug_info, warnings_as_errors]}.
